@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@font-face {
    font-family: 'Shockwave2';
    src: url('/fonts/shockwave-2.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    /* src: url('/fonts/RobotoMono-VariableFont_wght.ttf'); */
    src: url('/fonts/Roboto-Medium.ttf');
}
/* Aplicar a todos los botones la clase de tailwind */
@layer base {
    button,
    [role='button'] {
        cursor: pointer;
        outline: none;
    }
}

@layer components {
    .font-shockwave {
        font-family: var(--font-shockwave);
    }

    .font-roboto {
        font-family: var(--font-roboto);
    }
}

@theme {
    --breakpoint-xsm: 400px;
    --font-shockwave: 'Shockwave2';
    --font-roboto: 'Roboto';
}

/* OVERLAY DE LA VENTANA MODAL DEL DIALOG DE RADIX UI */
.rt-DialogOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    /* backdrop-filter: blur(4px);*/
}

/* DESACTIVA LAS ANIMACIONES QUE VIENEN POR DEFECTO EN RADIX UI */
.rt-DialogOverlay,
.rt-DialogContent {
    animation: none !important;
    transition: none !important;
}
