@import 'tailwindcss';
@import '@radix-ui/themes/styles.css';

@font-face {
    font-family: 'Shockwave2';
    src: url('/fonts/shockwave-2.otf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    /* src: url('/fonts/RobotoMono-VariableFont_wght.ttf'); */
    src: url('/fonts/Roboto-Medium.ttf');
}
/* Aplicar a todos los botones la clase de tailwind */
@layer base {
    button,
    [role='button'] {
        cursor: pointer;
        outline: none;
    }
}

@layer components {
    .font-shockwave {
        font-family: var(--font-shockwave);
    }

    .font-roboto {
        font-family: var(--font-roboto);
    }
}

@theme {
    --breakpoint-xsm: 400px;
    --font-shockwave: 'Shockwave2';
    --font-roboto: 'Roboto';
    --color-primary: rgb(1, 236, 2);
    --primary-color: rgb(1, 236, 2);
    --range-color: #d9fc2e;
    --background-color: #38384e;
    /* --menu-dark-color:rgb(26, 26, 38);*/
    --menu-dark-color: #595983;

    --title-container-color: #0e0e13;

    --menu-bar-button-color: #ffee93;
    /* --primary-color-dark: rgb(27, 57, 40); */

    --primary-color-dark: #106b37;

    --button-color: #d6dddd;
    --icon-color: #fc9e00;
}
/* 
.radix-themes .rt-BaseDialogOverlay .rt-DialogOverlay {
    background-color: rgba(255, 255, 255, 0);
} */

/* OVERLAY DE LA VENTANA MODAL DEL DIALOG DE RADIX UI */
.rt-DialogOverlay {
    background-color: rgba(0, 0, 0, 0.75);
    /* backdrop-filter: blur(4px);*/
}

/* DESACTIVA LAS ANIMACIONES QUE VIENEN POR DEFECTO EN RADIX UI */
.rt-DialogOverlay,
.rt-DialogContent {
    animation: none !important;
    transition: none !important;
}

/* .rt-DataListLabel {
    color: rgb(34, 197, 94);
    font-weight: bold;
}

span.rt-reset.rt-Badge.rt-r-size-1.rt-variant-soft {
    color: rgb(34, 197, 94) !important;
    font-weight: bold;
    background-color: #62748e !important;
} */
